@import "../../index.scss";

.nav-links-content {
    border-bottom: 1px solid transparent;
    justify-content: center;
    align-items: center;
    display: flex;

    .nav-links {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 19px;

        .nav-links-text {
            font-size: 1em;
        }

        path {
            color: $black;
        }
    }

    &:hover {
        .nav-links-text {
            color: $red;
        }

        path {
            color: $red;
        }
    }
}

#burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    #nav-img-container {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        @media (max-width: $resp) {
            gap: 20px;
        }

        .show-burger {
            display: none;

            @media (max-width: $resp) {
                display: block;
                cursor: pointer;
            }
        }

        img {
            height: 100px;
        }
    }

    #nav-links-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: $resp) {
            display: none;
        }

        gap: 20px;
    }
}
