@import "../../index.scss";

#admin-lang {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

    #admin-title {
        font-size: 25px;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        border: 1px solid $light_black;
        padding: 15px;
        background: $white;
        border-radius: 5px;

        .section-in-section {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .section-in-section-ipt {
            }

            .section-in-section-btn {
            }
        }
    }

    #list-cotisants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        gap: 15px;
        border: 1px solid $light_black;
        padding: 15px;
        border-radius: 7px;
        background: $white;

        .list-cotisant-box {
            display: flex;
            flex-direction: column;
            border: 1px solid $light_black;
            padding: 10px;
            border-radius: 7px;
            gap: 15px;

            .list-cotisant-box-img {
                width: 95px;
                border-radius: 50px;
                height: 95px;
                border: 1px solid $light_black;
                align-self: center;
            }

            .list-cotisant-box-name {
                text-align: center;
            }

            .list-cotisant-box-actions {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;

                .list-cotisant-box-btn {
                }
            }
        }
    }

    #list-sceance {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 350px;
        overflow-x: auto;
        gap: 15px;
        border: 1px solid $light_black;
        padding: 15px;
        border-radius: 7px;
        background: $white;

        .list-sceance-box {
            border: 1px solid $black;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid $light_black;
            width: 250px;
            height: 200px;
            position: relative;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: Arial, Helvetica, sans-serif;
            background: $white;

            .list-sceance-box-participants {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .list-sceance-box-participant {
                    list-style-type: none;
                    display: flex;

                    .list-sceance-box-participant-text {
                        font-weight: bold;
                        font-size: 12px;
                    }

                    .list-sceance-box-participant-actions {
                        display: flex;
                        gap: 2px;
                        flex-direction: row-reverse;

                        .see {
                            color: $black;

                            &:hover {
                                color: $light_black;
                            }
                        }

                        .cancel {
                            color: $light_red;
                            &:hover {
                                color: $red;
                            }
                        }

                        .list-sceance-box-participant-btn {
                            background: transparent;
                            padding: 0;
                        }
                    }
                }
            }

            .list-sceance-box-date {
                text-align: center;
            }

            .list-sceance-box-id {
                position: absolute;
                background: $ciel;
                padding: 3px;
                border-bottom-right-radius: 10px;
                top: 0;
                left: 0;
            }

            .list-sceance-box-places {
                font-size: 14px;
            }
        }
    }

    #list-ask-cotisation {
        display: flex;
        height: 350px;
        overflow-x: auto;
        gap: 5px;
        border: 1px solid $light_black;
        padding: 15px;
        border-radius: 7px;
        background: $white;

        .list-ask-cotisation-box {
            border: 1px solid $light_black;
            padding: 10px;
            border-radius: 5px;
            background: $white;

            .list-ask-cotisation-box-name {
            }

            &:hover {
                background: $ciel;
                cursor: pointer;
            }
        }
    }
}
