#layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

main {
    animation: fade 0.2s ease-out forwards;
}

@keyframes fade {
    0% {
        filter: blur(4px);
    }
    100% {
        filter: blur(0px);
    }
}
